<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Mounting">
      <section name="MountTypeAltAlt" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeAltazimuth" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeCoelostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeCoude" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeCrossAxisEnglish" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeCustom" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeEquatorial" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeEquatorialFork" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeEquatorialYoke" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeExtendedGerman" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeGermanEquatorialMount" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeHeliostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeHorseshoe" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeInvertedFork" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeNone" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeOffAxisTorqueTube" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypePolarHeliostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypePolarSiderostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeSiderostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeSplitRing" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeSpringfield" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeUranostat" type="System.Configuration.SingleTagSectionHandler" />
      <section name="MountTypeWeightStressCompensated" type="System.Configuration.SingleTagSectionHandler" />
    </sectionGroup>
  </configSections>
  <Mounting>
    <MountTypeAltAlt PriAxisAlign="Geographic" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="false" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeAltazimuth PriAxisAlign="Geographic" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeCoelostat PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="false" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeCoude PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="false" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeCrossAxisEnglish PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeCustom PriAxisAlign="Geographic" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="false" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeEquatorial PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeEquatorialFork PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeEquatorialYoke PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeExtendedGerman PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypeGermanEquatorialMount PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="true" />
    <MountTypeHeliostat PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeHorseshoe PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="false" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeInvertedFork PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeNone PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeOffAxisTorqueTube PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="true" MeridianFlipPossible="true" MeridianFlipRequired="false" />
    <MountTypePolarHeliostat PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypePolarSiderostat PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeSiderostat PriAxisAlign="Celestial" CanMoveToPriAxisPole="false" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeSplitRing PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="false" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeSpringfield PriAxisAlign="Celestial" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="true" PriAxisFullyRotates="false" MeridianFlipPossible="true" MeridianFlipRequired="true" />
    <MountTypeUranostat PriAxisAlign="Geographic" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
    <MountTypeWeightStressCompensated PriAxisAlign="Geographic" CanMoveToPriAxisPole="true" CanMoveThruPriAxisPole="false" PriAxisFullyRotates="true" MeridianFlipPossible="false" MeridianFlipRequired="false" />
  </Mounting>
  <appSettings>
  </appSettings>
</configuration>